<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <configSections>
    <section name="oauth_configuration" type="ZohoApi.ConfigFileSection, ZohoApi"></section>
    <section name="zcrm_configuration" type="ZohoApi.ConfigFileSection, ZohoApi"></section>
  </configSections>
  <oauth_configuration>
    <settings>
      <add key = "client_id" value = "1000.BT8QS94IIA8278417LUKT1DE7XXBFH" />
      <add key = "client_secret" value = "e319f52223bc374d77c65ab410587593cf3ae7e20c" />
      <add key = "redirect_uri" value = "https://accounts.zoho.com" />
      <add key = "access_type" value = "offline"/>
      <add key = "persistence_handler_class" value = "ZohoApi.OAuth.ClientApp.ZohoOAuthFilePersistence, ZohoApi"/>
      <add key = "oauth_tokens_file_path" value = ""/>
      <add key = "mysql_username" value = "root"/>
      <add key = "mysql_password" value = ""/>
      <add key = "mysql_database" value = "zohooauth"/>
      <add key = "mysql_server" value = "localhost"/>
      <add key = "mysql_port" value = "3306"/>
      <add key = "iamURL" value = "https://accounts.zoho.com"/>
    </settings>
  </oauth_configuration>
  <zcrm_configuration>
    <settings>
      <add key = "apiBaseUrl" value = "https://www.zohoapis.com"/>
      <add key = "photoUrl" value = ""/>
      <add key = "apiVersion" value = "v2"/>
      <add key = "loginAuthClass" value = ""/>
      <add key = "logFilePath" value = ""/>
      <add key = "timeout" value = ""/>
      <add key = "minLogLevel" value = ""/>
      <add key = "domainSuffix" value = ""/>
      <add key = "currentUserEmail" value = "jonnys.arauz@ramac.com.ni" />
    </settings>
  </zcrm_configuration>
</configuration>