<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="SysContab.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
    <section name="oauth_configuration" type="ZohoApi.ConfigFileSection, ZohoApi"></section>
    <section name="zcrm_configuration" type="ZohoApi.ConfigFileSection, ZohoApi"></section>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SysContab.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
  <oauth_configuration>
    <settings>
      <add key="client_id" value="1000.BT8QS94IIA8278417LUKT1DE7XXBFH" />
      <add key="client_secret" value="e319f52223bc374d77c65ab410587593cf3ae7e20c" />
      <add key="redirect_uri" value="https://www.google.com/" />
      <add key="access_type" value="offline" />
      <add key="persistence_handler_class" value="ZohoApi.OAuth.ClientApp.ZohoOAuthFilePersistence, ZohoApi" />
      <add key="oauth_tokens_file_path" value="" />
      <add key="mysql_username" value="root" />
      <add key="mysql_password" value="" />
      <add key="mysql_database" value="zohooauth" />
      <add key="mysql_server" value="localhost" />
      <add key="mysql_port" value="3306" />
      <add key="iamURL" value="https://accounts.zoho.com" />
    </settings>
  </oauth_configuration>
  <zcrm_configuration>
    <settings>
      <add key="apiBaseUrl" value="https://www.zohoapis.com" />
      <add key="photoUrl" value="" />
      <add key="apiVersion" value="v2" />
      <add key="loginAuthClass" value="" />
      <add key="logFilePath" value="" />
      <add key="timeout" value="" />
      <add key="minLogLevel" value="" />
      <add key="domainSuffix" value="" />
      <add key="currentUserEmail" value="jonnys.arauz@ramac.com.ni" />
    </settings>
  </zcrm_configuration>
 <system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog" />
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
 <applicationSettings>
  <SysContab.My.MySettings>
   <setting name="SysContab_ws_tc_Tipo_Cambio_BCN" serializeAs="String">
    <value>https://servicios.bcn.gob.ni/Tc_Servicio/ServicioTC.asmx</value>
   </setting>
  </SysContab.My.MySettings>
 </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SysContab.My.MySettings>
      <setting name="Servidor" serializeAs="String">
        <value>prueba.ramac.com.ni\GRMSQL2014</value>
      </setting>
      <setting name="BaseDatos" serializeAs="String">
        <value>SysContab</value>
      </setting>
    </SysContab.My.MySettings>
  </userSettings>
</configuration>
